	$palette-color: #14b9d6;
	$music-color: #e76049	;
	$camera-color:#2eb398;
	$video-color : #90899c;
	$buisness-color:#ebebeb;
	$airplane-color:#5692b1;
	$fashion-color:#5692b1;
	$plus-color:#5692b1;
	$cog-color: #585858
